:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

/*Typography*/


html {
/* 62.5% of 16px = 10px */
font-size: 62.5%;
}


body    {
    font-family: inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,h2,h3 {
    color:var(--color-headings);
    margin-bottom: 3rem;
}

h1 {
    /* 1 x font size of the html element */
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
  
}

/*New rule not to repeat the decoration for all anchors in the header, bottom bar and navigation pane as well*/
a {
    text-decoration: none; 
}

/*Links*/
.link-arrow {
color:var(--color-accent);
text-transform: uppercase;
font-size: 2rem;
font-weight: bold;
}

.link-arrow::after {
content: "-->";
margin-left: 5px; /*to keep some distance in absolute wiht the "Link Arrow"*/
transition: 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width:1024) {
    .link-arrow {
       font-size: 1.5rem; 
    }
}


@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    } 
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
        
    }

    h3 {
           font-size: 2.4rem;
    }
}
   
       

    /*Badges*/

    .badge {
        border-radius: 20px; /*Absolute value not to depend on the font size*/
        font-size: 2rem;
        font-weight: 600; /*All badges are in bold font*/
        padding: 0.5rem 2rem; /*Vertical and Horizontal padding*/
        white-space: nowrap; /*to prevent breaking menu titles even with limited spaces*/
    }

    .badge--primary {
        background: var(--color-primary);
        color: white;
    }

    .badge--secondary {
        background: var(--color-secondary);
        color: white;
    }

    .badge--small {
        font-size: 1,6rem;
    }

    @media screen and (min-width:1024px){
      .badge{
          font-size: 1,5rem;
      }  
    }
    .badge--small {
        font-size: 1.2rem;
    }

    /*Lists*/
    .list {
        list-style: none; /*To get rid of the default bullet points*/
        padding-left: 0; /*Discard te left padding that all browsers apply by default*/
        color: var(--color-headings);

    }

    .list--inline .list__item {
        display: inline-block;
        margin-right: 2rem;
    }

    .list-tick {
        list-style-image: url(../css/components/images/tick.svg);
        padding-left: 3rem;
    }

    .list--tick .list__item {
        padding-left: 0.5rem;
        padding-bottom: 1rem;
    }

    @media  screen and (min-width: 1024px) {
        .list--tick .list__item {
         padding-left: 0rem;
        }
    }